body {
background-color: lightblue;
color: maroon;
font-family: Arial, Helvetica, sans-serif;
margin: 0px;
}

header {
background-color: lightblue; 
color: red; 
font-family: Arial, Helvetica, sans-serif; 
padding: 20px; font-size: 
16pt
}

footer {
background-color: lightblue; 
font-style: italic; 
font-size: 16pt;
color: red; 
padding: 20px; 
text-align: center;
}

a {
    color: burlywood;
    background-color: blueviolet;
}

a:visited {
color: aqua;
background-color: darkgreen;
}

a:hover {
color: red;
text-decoration: underline;
background-color: white;
}

a:active {
color: pink;
background-color: green;
}
